body{
    background-color: #a0d0ec;
}
body.dark-mode {
  background-color: #333333;
  color: #ffffff;
}
header{
    top:0;
    background-color: #a0d0ec;
    margin: 0px;
    padding: 20px;
    width: 100%;
    border: 0px;
    display: grid;
    grid-template-columns: 150px 400px;
  }

.game{
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #a0d0ec;
}
.container.game{
  width: 440px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}
.container h2{
  font-size: 25px;
  font-weight: 500;
  padding: 16px 25px;
  border-bottom: 1px solid #ccc;
}
.container .content{
  margin: 25px 20px 35px;
}
.content .word{
  font-family: 'Poppins', sans-serif;
  user-select: none;
  font-size: 33px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 24px;
  margin-right: -24px;
  word-break: break-all;
  text-transform: uppercase;
}
.content .details{
  margin: 25px 0 20px;
}
.details p{
  font-size: 18px;
  margin-bottom: 10px;
}
.details p b{
  font-weight: 500;
}
.content input{
  width: 100%;
  height: 60px;
  outline: none;
  padding: 0 16px;
  font-size: 24px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  margin-right: 5px;
  text-align: center; /* Center the letter inside the input field */
}
.content input:focus{
  box-shadow: 0px 2px 4px rgba(0,0,0,0.08);
}
.content input::placeholder{
  color: #aaa;
}
.content input:focus::placeholder{
  color: #bfbfbf;
}
.content .buttons{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.buttons button{
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  padding: 15px 0;
  font-size: 17px;
  border-radius: 5px;
  width: calc(100% / 2 - 8px);
  transition: all 0.3s ease;
}
.buttons button:active{
  transform: scale(0.97);
}
.buttons .cancel-word{
  background: #6C757D;
}
.buttons .cancel-word:hover{
  background: #5f666d;
}
.buttons .check-word{
  background: #5372F0;
}
.buttons .check-word:hover{
  background: #2c52ed;
}

.check-word { 
  display: none;
}

.hint-image {
  width: 450px; 
  height: 450px; 
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 470px) {
  .container h2{
    font-size: 22px;
    padding: 13px 20px;
  }
  .content .word{
    font-size: 30px;
    letter-spacing: 20px;
    margin-right: -20px;
  }
  .container .content{
    margin: 20px 20px 30px;
  }
  .content .hint-image{
    max-width: 100%;
    height: auto;
  }
  .details p{
    font-size: 16px;
    margin-bottom: 8px;
  }
  .content input{
    height: 55px;
    font-size: 17px;
  }
  .buttons button{
    padding: 14px 0;
    font-size: 16px;
    width: calc(100% / 2 - 7px);
  }
  .cancelbtn {
    width: 100%;
 }
}
.content .word-inputs {
  display: flex;
  justify-content: center; /* Center the input fields horizontally */
  margin: 20px;
}


.content input {
  margin: 0 5px; /* Add space on both sides of each input field */
  text-align: center;
  max-width: 100px; /* Limit the maximum width of the input fields */
}

logo{
    position: absolute;
    top: 20px;
    left: 20px;

}
@media (max-width: 767px) { /* Reduce the logo size for smaller screens */
  .logo {
      max-width: 80%; 
  }
}
.country-image {
  width: 50%; 
  height: auto; 
  max-width: 100%;
  
}
.row-spacing {
  margin-bottom: 20px; /* Adjust the value as needed */
}
.ticket-number {
  font-weight: bold;
  
}
ul {    /*nav bar*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffe89e;
  }
  
  li {
    float: left;
  }
  
  li a {    /* nav bar*/
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 
  li a:hover {
    background-color: #7fa99b;
  }
  li a.active {
    background-color: #394a51;
    color: rgb(255, 255, 255);
  }
  footer {
    padding: 10px;
    text-align: center;
}
#p1{
  background: #2f90d4;
  padding: 50px;
  width: 100%;
  color: white;
}

.small-button { /*for signup and signin buttons*/
  font-size: 18px;
  padding: 10px 20px;
  width: 120px;
  margin-left: auto;
}
.logoutbtn{
  background-color: red;
}
.btn-red-rounded {
  color: #fff;
  background-color: #dc3545; /* Red color */
  border-color: #dc3545; /* Red color */
  border-radius: 0.25rem; /* Adjust the value for rounded corners */
  padding: 0.375rem 0.75rem; /* Adjust padding as needed */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#i1{
  background: orange;
}

.text-right {
  text-align: right;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #003a65;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #2f90d4;
  color: white;
}  

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.btn-green-rounded {
  color: #fff;
  background-color: #28a745; 
  border-color: #28a745;
  border-radius: 0.25rem; 
  padding: 0.375rem 0.75rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  color: white;
}
.admin_date{
  margin: 20px;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}